Nav {
    background-image: linear-gradient(to bottom, #daedbd 50%, #fcd2af 50%);
    min-height: 8vh;
    text-align: center;
    padding-top: 5vh;
    a {
        margin-left: 15px;
        text-decoration: none;
        color: #736ced;
    }
}